@import url(/css/tv.css);

#nav, #brand, #footer, .subnav, .aside, .hide, .handheld, .projection, .switch, .ui-tabs-nav {
	display:none !important;
	}
#front_news_text li {display:block !important;opacity:1 !important;padding-left: 0;}
#front_news_text li:before {content:'•';}
p[class|=download],p.download,.hide-print {
	display:none;
}

body {
	background:#fff;
	color:#000;
	margin:0;
	padding:24pt 36pt;
	font-size:12pt;
	max-width:100%;
	}

a {color:#000;}
a:link, a:visited {
	background: transparent;
	font-weight:700;
	text-decoration: none;
}

a[href^="http"]:after,a[href^="ftp:"]:after,a[href^="mailto:"]:after {
  content: " [" attr(href) "] ";
  font-weight: normal;
}

a[href^="/"]:after {
  content: " [http://www.opera.com" attr(href) "] ";
  font-weight: normal;
}

div[id^=campaign] {height:auto !important;}

*[class^=span],img[class^=left] {clear:left;}

.article {width:100% !important;}

#support .article div {display:block !important;}
#support .article h3 a {padding-left:0;background:transparent;}
#support .article div#expcolall {display:none !important;}

caption {
	clear:both;
	background:#eee;
	color:#000;
	padding:2px 0;
	margin-top:1em;
	font-weight:bold;
	}

table, .grid td {
	border-collapse:collapse;
	}

.grid td {
	padding:2px 5px;
	border:1px solid #aaa;
	}

.grid th {
	background:#45647e;
	padding:2px 5px;
	color:#fff;
	}

.right, .photos1, .photos2, .photos3 {
	float:right;
	margin-left:1em;
	}

ul li {list-style: square outside none;}

ul.flat li {display: inline;list-style: none inside none;}

.frame {float:left;margin-right:1em;}
